/venv/
/.idea/
/KAGGLE_PROJECT-3/data/submission.csv.zip
/KAGGLE_PROJECT-3/data/hotels_test.csv.zip
/KAGGLE_PROJECT-3/data/hotels_train.csv.zip
/PROJECT-3/data/hotels.csv
/KAGGLE_PROJECT-3/data/population_by_country_2020.zip
/KAGGLE_PROJECT-3/data/worldcitiespop.zip
