# Compiled files
__pycache__/
*.pyc
*.pyo

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyCharm, Visual Studio Code, and other editors
.idea/
.vscode/

# OS-specific files
.DS_Store

# Environment files
.env
*venv/
**/data/

02_TimeSeries/airline_passengers.csv
02_TimeSeries/perrin-freres-monthly-champagne.csv
02_TimeSeries/sp500sub.csv
02_TimeSeries/SPY.csv
